@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root{
    --cor1:#1CA21C;
    --cor2:#287928;
    --cor3:#00CD00;
    --cor4:rgb(90, 89, 89);
    --cor5:rgb(114, 113, 113);
    --fonte-titulo:"Kanit", sans-serif;
    --fonte-paragrafo: arial, helvetica, sans-serif;
}
*{
    padding:0px;
    margin: 0px;
}
body{
    background-color: #affeaf;
}
header{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    padding: 50px 10px;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.156);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.193);
}
header > h1{
    margin-bottom: 30px;
    font: normal 500 2.5em var(--fonte-titulo);
}
header > p{
    max-width: 500px;
    margin: auto;
    font: normal 1.2em var(--fonte-paragrafo);
}
main{
    padding: 10px;
    max-width: 800px;
    min-width: 300px;
    margin: auto;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.184);
}
article{
    padding: 10px;
}
article h1{
    margin-bottom: 10px;
    font: normal 1.5em var(--fonte-titulo) ;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 5px;
}
article h2{
    font: normal 1.5em var(--fonte-titulo);
    margin-bottom: 10px;
}
article p{
    text-align: justify;
    line-height: 1.5em;
    text-indent: 20px;
    font-family: var(--fonte-paragrafo);
    margin-bottom: 10px;
}
img{
    width: 100%;
    margin-bottom: 10px;
}
aside{
    background-color: var(--cor5);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}
aside > h3{
    background-color: var(--cor4);
    font: normal 1.2em var(--fonte-titulo);
    padding: 5px;
    text-indent: 5px;
    margin:-10px -10px 0px -10px ;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 5px;
}
aside > p{
    margin-bottom: 0px;
    padding: 7px;
    text-indent: 0px;
}
footer{
    background-color: var(--cor2);
    padding: 7px;
    text-align: center;
    font-family: var(--fonte-paragrafo);
    font-size: 0.8em;
}